@{
    ViewData["Title"] = "Home";
}
<head>
    <link href="~/css/index.css" rel="stylesheet" />
</head>

<img src="/images/banner1.png" class="img-fluid img-banner" alt="Alternate Text" />

<ul class="list-group list-group-horizontal">
    <li class="list-group-item text-center">
        <img src="~/images/icons/pix-brands-solid.svg" class="icon-fluid m-2" alt="Alternate Text" />
        <b class="fs-5">
            Desconto
        </b>
        <br>
        de 5% off no pix
    </li>

    <li class="list-group-item text-center">
        <img src="~/images/icons/credit-card-regular.svg" class="icon-fluid m-2" alt="Alternate Text" />
        <b class="fs-5">
            Parcelamento
        </b>
        <br>
        em até 4x sem juros
    </li>

    <li class="list-group-item text-center">
        <img src="~/images/icons/percent-solid.svg" class="icon-fluid m-2" alt="Alternate Text" />
        <b class="fs-5">
            5% Off
        </b>
        <br> 
        na primeira compra
    </li>

    <li class="list-group-item text-center">
        <img src="~/images/icons/phone-solid.svg" class="icon-fluid m-2" alt="Alternate Text" />
        <b class="fs-5">
            Suporte
        </b> 
        <br>
            rápido para sua compra
    </li>

    <li class="list-group-item text-center">
        <img src="~/images/icons/plane-solid.svg" class="icon-fluid m-2" alt="Alternate Text" />
        <b class="fs-5">
            Enviamos
        </b>
        <br>
        sua compra para todo Brasil
    </li>

    <li class="list-group-item text-center">
        <img src="~/images/icons/user-lock-solid.svg" class="icon-fluid m-2" alt="Alternate Text" />
        <b class="fs-5">
            Segurança
        </b>
        <br>
            em sua compra
     </li>
</ul>

<main class="m-5">
    <div class="text-center">
        <h3>Melhores ofertas</h3>
    </div>
    <p>Apresentar as roupas</p>
</main>